*{
	margin: 0;
	padding: 0;
}

.small {
	width: 360px;
	height: 640px;
	position: relative;
	position:absolute;
	left:103px;
	top:0;
}
.small img{
    width: 100%;
	height: 100%;
}
.small .wrap{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	
}

.small .grayBox{
	/*display: none;*/
	width: 100px;
	height: 100px;
	background-image: url(../images/fdj.jpg);
	background-size:360px 640px;
	background-position:0px 0px;
	position: absolute;
	left: 0px;
	top: 0px;
}	

.big{
	width: 360px;
	height: 640px;
	position: absolute;
	left: 500px;
	top: 100px;
	display: none;
	overflow: hidden;
}
.big img{
	position: absolute;
}

